<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <meta name="description" content="I’m a French-born software engineer living in the US. My interests include decentralized finance on Ethereum and accessibility." />
  <meta property="og:site_name" content="Pierrick Turelier - Front-End Developer (JavaScript, TypeScript, React, Redux)" />
  <meta property="og:title" content="Pierrick Turelier - Front-End Developer (JavaScript, TypeScript, React, Redux)" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://pierrick.turelier.com/static/images/twitter-card.png" />
  <meta property="og:description" content="I’m a French-born software engineer living in the US. My interests include decentralized finance on Ethereum and accessibility." />
  <meta property="og:url" content="https://pierrick.turelier.com" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@pierrickgt">
  <meta name="twitter:title" content="Pierrick Turelier - Front-End Developer (JavaScript, TypeScript, React, Redux)">
  <meta name="twitter:description" content="I’m a French-born software engineer living in the US. My interests include decentralized finance on Ethereum and accessibility.">
  <meta name="twitter:image" content="https://pierrick.turelier.com/static/images/twitter-card.png">

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/all.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🇫🇷</text></svg>">
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}
</head>
